.search_container {
  display: flex;
  flex-direction: row;
  background-color: #d2e5e9;
  border-radius: 10px;
  padding: 10px;
}

.search_title_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input_container {
  flex-grow: 8;
  margin-right: 30px;
}
.search_input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  background-color: #f0fcff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #dcdcdc;
}

.search_input:focus,
input:focus {
  outline: none;
}
.search_input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #dcdcdc;
}

.search_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
  line-height: 37px;
  color: #000000;
}
@media screen and (max-width: 700px) {
  .search_container {
    flex-direction: column;
  }

  .search_input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    color: #dcdcdc;
  }
}
