.container {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.city_container {
  display: flex;
  flex-direction: row;
}
.city_metropole {
  flex-grow: 1;
}
.city_outremer {
  flex-grow: 1;
}
@media screen and (max-width: 1000px) {
  .city_container {
    display: flex;
    flex-direction: column;
  }
}
