.container {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.container_city_item {
  margin-top: 20px;
}

.city_container {
  display: flex;
  flex-direction: row;
}
.city_metropole {
  flex-grow: 1;
  width: 50vw;
  margin-right: 20px;
}
.city_outremer {
  flex-grow: 1;
  width: 50vw;
}
@media screen and (max-width: 630px) {
  .city_container {
    display: flex;
    flex-direction: column;
  }
}
